{ lib, ... }:
{
  services.caddy = {
    config = lib.mkForce ''
      {
        admin off
      }
      :8000 {
        reverse_proxy /ws* localhost:3001
        handle_path "/++razzle++*" {
          rewrite * /++razzle++{uri}
          reverse_proxy localhost:3001
        }
        handle_path "/++api++*" {
          rewrite * /VirtualHostBase/http/localhost:8000/Plone/++api++/VirtualHostRoot{uri}
          reverse_proxy localhost:8080
        }
        handle_path "/api*" {
          rewrite * /VirtualHostBase/http/localhost:8000/Plone/VirtualHostRoot/_vh_api{uri}
          reverse_proxy localhost:8080
        }
        reverse_proxy http://localhost:3000
      }
    '';
  };

  process.managers.process-compose.settings.environment = lib.mkForce [
    "RAZZLE_INTERNAL_API_PATH=http://localhost:8080/VirtualHostBase/http/localhost:8000/Plone/VirtualHostRoot"
    "RAZZLE_API_PATH=http://localhost:8000"
    "CLIENT_PUBLIC_PATH=http://localhost:8000/++razzle++"
  ];

  # See full reference at https://devenv.sh/reference/options/
}
